
:host {
    display: block;
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2 !important;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.submit-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #007bff;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
    color: #fff;
    border-color: #0056b3;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.bottom-container {
}

@media only screen and (max-width: 600px) {
    .top-container{
        background-color: #f2f2f2 !important;
        flex-direction: column !important;
        box-shadow: 0 0 0 transparent;
    }
}